*{
     font-family: "Lato", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.navbar{
    position: absolute;
    margin-top: 40px;
    background: #EEFFF9 !important;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
  
    
}
.navlogo{
    padding-right: 416px;
}
.navbtn{
    padding-left: 142px;
}
.navbar-nav {
    display: flex ;
    gap: 45px ;
}
.nav-link{
    color: #1B1B1B;
    font-weight: 500;
    font-size: 16px;
      font-family: "Lato", sans-serif;
}
.nav-link:hover{
     color: #06C279;
}
.btn{
    padding: 14px 25px;
    background-color: #06C279;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
}
/* DAF6EB */
#banner{
    background: #EEFFF9 !important;
    position: relative;
}
.main_banner{
    display: flex;
    position: relative;
    padding-top: 190px;
}
.leftside h1{
font-size: 60px;
color: #1B1B1B;
font-weight:300 ;
line-height: 71.5px;
}
.leftside #wave{
    font-weight: 700;
}
.leftside p{
    max-width: 511px;
    color: #717171;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    padding-top: 37px;

}
.banner_btn{
    display: flex;
    gap: 20px;
    margin: 51px 0 116px 0;
}
.bannerbtn{
    border: 2px solid transparent;
}
 .banner_btn:last-child i{
    padding-right: 12px;
    font-size: 12px;
     width: 20px;
    height: 20px;
    border-radius: 50%;
    background: transparent;
    font-size: 12px;
    padding: 3px;
    border: 0;
} 
.bannerbtn:hover{
    border: 2px solid #06C279;
    display: flex;
    gap: 5px;
}
.bannerbtn:hover i{
    color: #06C279;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #DAF6EB;
    font-size: 12px;
    padding: 3px;
    border: 0;
}
.rightside .banner_circle{
    position: absolute;
    right: 0;
    bottom: 34px;
}
.rightside .banner_man{
    position: absolute;
    right: 0;
    bottom: -12px;
}
.experience_wrapper{
    padding: 138px 0 144px 0;
    display: flex;
    gap: 145px;
    align-items: center;
}
.experience_disc{
  width: 550px;
}
.experience_title{
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    color: #1B1B1B;
    max-width: 445px;
    margin-bottom: 29px;
}
.experience_disc P{
    color: #7B7B7B;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 45px;
}
.experience_btn a{
    padding: 14.5px 25px;
    color: #06C279;
    font-weight: 600;
    font-size: 16px;
    background-color: #DAF6EB;
}




#service{
    background: #EEFFF9 !important;
    border-top-left-radius: 354px;
    border-bottom-right-radius: 354px;
    padding: 70px 0 70px 0;
}


/* background: rgba(6, 194, 122, 0.5); */
 .card1{
    background-color: #FFFFFF;
    margin-top: 203px;
   padding: 42px 0px 60px 47px;
   border-radius: 10px;
   box-shadow: 0 0 20px 2px rgba(0, 0, 0,0.05) ;
   transform: scale(1);
 }
.card1_img svg path{
    fill: #06C279;
}
.card1 h4{
    color: #1B1B1B;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-top: 14px;
    margin-bottom: 14px;
}
.card1 p{
color: #7B7B7B;
max-width: 265px;
}
.card1:hover{
    background-color: rgba(6, 194, 122, 0.5);
    transform: scale(1.05);
    box-shadow: 0 0 20px 2px rgba(0, 0, 0,0.05) ;
}
.card1:hover svg path{
    fill: #fff;
}
.card1:hover h4{
    color: #fff;
}

.card1:hover p{
    color: #fff;
}
 .card2{
    background-color: #FFFFFF;
   padding: 45px 26px 73px 21px;
   border-radius: 10px;
   box-shadow: 0 0 20px 2px rgba(0, 0, 0,0.05) ;
   transform: scale(1);
 }
.card2_img svg path{
    fill: #06C279;
}
.card2 h4{
    color: #1B1B1B;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-top: 14px;
    margin-bottom: 14px;
}
.card2 p{
color: #7B7B7B;
max-width: 265px;
}
.card2:hover{
    background-color: rgba(6, 194, 122, 0.5);
    transform: scale(1.05);
    box-shadow: 0 0 20px 2px rgba(0, 0, 0,0.05) ;
}
.card2:hover svg path{
    fill: #fff;
}
.card2:hover h4{
    color: #fff;
}

.card2:hover p{
    color: #fff;
}

 .card4{
    background-color: #FFFFFF;
    padding: 52px 0px 60px 47px;
    margin-top: 40px;
   border-radius: 10px;
   box-shadow: 0 0 20px 2px rgba(0, 0, 0,0.05) ;
   transform: scale(1);
 }
.card4_img svg path{
    fill: #06C279;
}
.card4 h4{
    color: #1B1B1B;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-top: 14px;
    margin-bottom: 14px;
}
.card4 p{
color: #7B7B7B;
max-width: 265px;
}
.card4:hover{
    background-color: rgba(6, 194, 122, 0.5);
    transform: scale(1.05);
    box-shadow: 0 0 20px 2px rgba(0, 0, 0,0.05) ;
}
.card4:hover svg path{
    fill: #fff;
}
.card4:hover h4{
    color: #fff;
}

.card4:hover p{
    color: #fff;
}
.service-wrapper{
    display: flex;
    gap: 113px;
    align-items: center;
}

.service_disc h2{
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    color: #1B1B1B;
    margin-bottom: 30px;
    width: 450px;
    text-transform: capitalize;
}
.service_disc p{
color: #7B7B7B;
font-weight: normal;
font-size: 16px;
line-height: 26px;
width: 543px;
}
.service_btn a{
    padding: 14.5px 25px;
    color: #06C279;
    background: #DAF6EB;
    border-radius: 5px;
}
.service_btn{

    margin-top: 30px;
}





#project{
    margin-top: 91px;
}
.project_title h2{
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    color: #1B1B1B;
    margin-bottom: 33px;
}
#project_menu{
    display: flex;
    gap: 73px;
    padding-left: 247px;
}
.menuLine{
    background: #CECECE;
    width: 892px;
    height: 4px;
    border-radius: 4px;
    margin-left: 214px;
    margin-bottom: 53px;
}
#project_menu a{
    color: #7B7B7B;
    font-weight: 500;
    font-size: 16px;
}
#project_menu a:hover{
    color: #06C279;
    position: relative;
}
#project_menu a:hover::after{
    background: #06C279;
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -23px;
    height: 4px;
}
.projectcard1{
    
}
.projectimgcard1{
    border-radius: 15px;
    box-shadow: 0 4px 25px 15px rgba(218, 246, 235, 0.363);
}
.project_dics h2{
    color: #1B1B1B;
    font-weight: 600;font-size: 22px;
    line-height: 30px;
    text-align: center;
}
.project_dics p{
    color: #7B7B7B;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    max-width: 267px;
    text-align: center;
      margin: 0 auto;
}
.project_btn a{
    color: #fff;
    padding: 14.5px 25px;
    background: #06C279;
    border-radius: 5px;

}
.project_btn{
    margin-top: 47px;
   margin-left: 535px;
}
#work{
    background: #EEFFF9;
    margin-top: 100px;
    border-top-left-radius: 315px;
    border-bottom-right-radius: 315px;
}
.workLeft{
    padding-top: 206px;
}
.workLeft h3{
    color: #1B1B1B;
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    max-width: 396px;
    padding-bottom: 20px;
}
.workLeft p{
    color: #7B7B7B;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
max-width: 543px;
}
.projectwrapper{
    margin-top: 70px;
    margin-left: 163px;
}
.wordimgcard1 svg path{
    fill: #06C279;
}
.workcard1 h4{
    color: #fff;
}